<!DOCTYPE html>
<html>
  <head>
    <title>Rails Doctrine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  </head>

  <body>
    <%= render 'application/navbar' %>
    <div class="layout">
      <%= yield %>
    </div>
  </body>
</html>
